<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trafficviolation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrafficViolationNoActionBar"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.TrafficViolationNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.RegisterActivity"/>
        <activity android:name=".user.UserMainActivity" android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:label="Violations"/>
        <activity android:name=".admin.AdminMainActivity"/>
        <activity android:name=".admin.AdminViolationActivity" />
        <activity android:name=".admin.car.AdminCarsActivity" android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:label="@string/cars"/>
        <activity android:name=".admin.category.AdminCategoryActivity" android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:label="@string/categories"/>
        <activity android:name=".admin.category.AdminEditAddCategory" android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:label="@string/category"/>
    </application>

</manifest>